<div class="example-module container-fluid">
    <h1>{{data.title}}</h1>
    <table>
        {{#data.someArray}}
            <tr>
                <td>
                    {{this}}
                </td>
            </tr>
        {{/data.someArray}}
    </table>
</div>